In [72]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ojas2\Downloads\cleaned_data_final.csv")
df.describe()

               p_id         price   ratingCount    avg_rating
count  1.000000e+04  10000.000000  10000.000000  10000.000000
mean   1.588028e+07   2750.449800    199.822660      4.094014
std    3.060857e+06   2044.243978    605.891248      0.323250
min    7.016600e+04    169.000000      1.000000      1.000000
25%    1.432358e+07   1499.000000     27.000000      4.101226
50%    1.665372e+07   2199.000000    184.479410      4.101226
75%    1.820759e+07   3299.000000    184.479410      4.153016
max    1.941485e+07  30000.000000  21274.000000      5.000000

In [73]:
df.head()

,p_id,name,price,colour,brand,img,ratingCount,avg_rating,description
0,17048614.0,Khushal K Women Black Ethnic Motifs Printed Ku...,5099.0,Black,Khushal K,http://assets.myntassets.com/assets/images/170...,4522.0,4.418399,Black printed Kurta with Palazzos with dupatta...
1,16524740.0,InWeave Women Orange Solid Kurta with Palazzos...,5899.0,Orange,InWeave,http://assets.myntassets.com/assets/images/165...,1081.0,4.119334,Orange solid Kurta with Palazzos with dupatta<...
2,16331376.0,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,4899.0,Navy Blue,Anubhutee,http://assets.myntassets.com/assets/images/163...,1752.0,4.161530,Navy blue embroidered Kurta with Trousers with...
3,14709966.0,Nayo Women Red Floral Printed Kurta With Trous...,3699.0,Red,Nayo,http://assets.myntassets.com/assets/images/147...,4113.0,4.088986,Red printed kurta with trouser and dupatta<br>...
4,11056154.0,AHIKA Women Black & Green Printed Straight Kurta,1350.0,Black,AHIKA,http://assets.myntassets.com/assets/images/110...,21274.0,3.978377,"Black and green printed straight kurta, has a ..."

In [74]:
desc = df[['p_id', 'description']]
desc.head()

         p_id                                        description
0  17048614.0  Black printed Kurta with Palazzos with dupatta...
1  16524740.0  Orange solid Kurta with Palazzos with dupatta<...
2  16331376.0  Navy blue embroidered Kurta with Trousers with...
3  14709966.0  Red printed kurta with trouser and dupatta<br>...
4  11056154.0  Black and green printed straight kurta, has a ...

In [75]:
print(desc['description'])

0       Black printed Kurta with Palazzos with dupatta...
1       Orange solid Kurta with Palazzos with dupatta<...
2       Navy blue embroidered Kurta with Trousers with...
3       Red printed kurta with trouser and dupatta<br>...
4       Black and green printed straight kurta, has a ...
                              ...
9995    Beige and blue solid lehenga choli with dupatt...
9996    Red and white embroidered lehenga choli with d...
9997    Red and beige embellished lehenga choli with d...
9998    Sea green and gold-toned embellished lehenga c...
9999    Yellow and pink woven design lehenga choli wit...
Name: description, Length: 10000, dtype: object

In [76]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from bs4 import BeautifulSoup  # Import for HTML parsing

In [77]:
liked_product_id = "17048614.0"

In [78]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
'''
# Example DataFrame
data = {'text_column': ["This is an example sentence.", "Another sentence with punctuation!", "And here's one more sentence."]}
df = pd.DataFrame(data)'''

# Download NLTK resources
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ojas2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ojas2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [79]:
# Define a function to clean HTML from descriptions
def clean_html(text):
  soup = BeautifulSoup(text, "html.parser")
  return soup.get_text(separator=" ")  # Remove HTML tags and keep text

In [80]:
# Clean descriptions and create TF-IDF vectors
desc['new_desc'] = desc["description"].apply(clean_html)
print(desc['new_desc'])

0       Black printed Kurta with Palazzos with dupatta...
1       Orange solid Kurta with Palazzos with dupatta ...
2       Navy blue embroidered Kurta with Trousers with...
3       Red printed kurta with trouser and dupatta Kur...
4       Black and green printed straight kurta, has a ...
                              ...
9995    Beige and blue solid lehenga choli with dupatt...
9996    Red and white embroidered lehenga choli with d...
9997    Red and beige embellished lehenga choli with d...
9998    Sea green and gold-toned embellished lehenga c...
9999    Yellow and pink woven design lehenga choli wit...
Name: new_desc, Length: 10000, dtype: object

C:\Users\ojas2\AppData\Local\Temp\ipykernel_19388\3538855285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desc['new_desc'] = desc["description"].apply(clean_html)

In [81]:
# Function to preprocess text
def preprocess_text(text):
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word not in string.punctuation]
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word.lower() not in stop_words]
    # Join tokens back into a string
    preprocessed_text = ' '.join(tokens)
    return preprocessed_text

# Apply preprocessing to each row in the DataFrame
desc['processed_text'] = desc['new_desc'].apply(preprocess_text)

# Display the DataFrame with processed text
print(desc['processed_text'])
desc.to_csv('processed_csv.csv')

0       Black printed Kurta Palazzos dupatta Kurta des...
1       Orange solid Kurta Palazzos dupatta Kurta desi...
2       Navy blue embroidered Kurta Trousers dupatta K...
3       Red printed kurta trouser dupatta Kurta design...
4       Black green printed straight kurta nitched rou...
                              ...
9995    Beige blue solid lehenga choli dupatta Beige b...
9996    Red white embroidered lehenga choli dupatta sh...
9997    Red beige embellished lehenga choli dupatta Re...
9998    Sea green gold-toned embellished lehenga choli...
9999    Yellow pink woven design lehenga choli dupatta...
Name: processed_text, Length: 10000, dtype: object

C:\Users\ojas2\AppData\Local\Temp\ipykernel_19388\1901967312.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desc['processed_text'] = desc['new_desc'].apply(preprocess_text)

In [82]:
import pandas as pd
import re

# Example DataFrame
'''data = {'text_column': ["The model (height 5'8) is wearing a size S.", "This is a sentence without the pattern.", "Another sentence (height 6'1)."]}
df = pd.DataFrame(data)'''

# Function to remove pattern
def remove_pattern(text):
    pattern = r'\(height \d\'\d\"\)'
    return re.sub(pattern, '', text)

# Apply pattern removal to each row in the DataFrame
desc['final_edit'] = desc['processed_text'].apply(remove_pattern)
desc.to_csv("data_final.csv")
# Display the DataFrame with processed text
print(desc)

C:\Users\ojas2\AppData\Local\Temp\ipykernel_19388\2211694018.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  desc['final_edit'] = desc['processed_text'].apply(remove_pattern)

            p_id                                        description  \
0     17048614.0  Black printed Kurta with Palazzos with dupatta...
1     16524740.0  Orange solid Kurta with Palazzos with dupatta<...
2     16331376.0  Navy blue embroidered Kurta with Trousers with...
3     14709966.0  Red printed kurta with trouser and dupatta<br>...
4     11056154.0  Black and green printed straight kurta, has a ...
...          ...                                                ...
9995  18704014.0  Beige and blue solid lehenga choli with dupatt...
9996  18508782.0  Red and white embroidered lehenga choli with d...
9997  14620590.0  Red and beige embellished lehenga choli with d...
9998  14539442.0  Sea green and gold-toned embellished lehenga c...
9999  14499100.0  Yellow and pink woven design lehenga choli wit...

                                               new_desc  \
0     Black printed Kurta with Palazzos with dupatta...
1     Orange solid Kurta with Palazzos with dupatta ...
2     Navy blue embroidered Kurta with Trousers with...
3     Red printed kurta with trouser and dupatta Kur...
4     Black and green printed straight kurta, has a ...
...                                                 ...
9995  Beige and blue solid lehenga choli with dupatt...
9996  Red and white embroidered lehenga choli with d...
9997  Red and beige embellished lehenga choli with d...
9998  Sea green and gold-toned embellished lehenga c...
9999  Yellow and pink woven design lehenga choli wit...

                                         processed_text  \
0     Black printed Kurta Palazzos dupatta Kurta des...
1     Orange solid Kurta Palazzos dupatta Kurta desi...
2     Navy blue embroidered Kurta Trousers dupatta K...
3     Red printed kurta trouser dupatta Kurta design...
4     Black green printed straight kurta nitched rou...
...                                                 ...
9995  Beige blue solid lehenga choli dupatta Beige b...
9996  Red white embroidered lehenga choli dupatta sh...
9997  Red beige embellished lehenga choli dupatta Re...
9998  Sea green gold-toned embellished lehenga choli...
9999  Yellow pink woven design lehenga choli dupatta...

                                             final_edit
0     Black printed Kurta Palazzos dupatta Kurta des...
1     Orange solid Kurta Palazzos dupatta Kurta desi...
2     Navy blue embroidered Kurta Trousers dupatta K...
3     Red printed kurta trouser dupatta Kurta design...
4     Black green printed straight kurta nitched rou...
...                                                 ...
9995  Beige blue solid lehenga choli dupatta Beige b...
9996  Red white embroidered lehenga choli dupatta sh...
9997  Red beige embellished lehenga choli dupatta Re...
9998  Sea green gold-toned embellished lehenga choli...
9999  Yellow pink woven design lehenga choli dupatta...

[10000 rows x 5 columns]

In [83]:
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
vec = TfidfVectorizer(stop_words = stopwords, ngram_range = (2,2), use_idf = True)
vectore = vec.fit_transform(product_descriptions)
vectore

<10000x31255 sparse matrix of type '<class 'numpy.float64'>'
	with 310268 stored elements in Compressed Sparse Row format>

In [84]:
product_vectors = vectorizer.fit_transform(product_descriptions)
vector_data = pd.DataFrame(product_vectors)
vector_data.to_csv("vec_Data.csv")
vec_data = pd.read_csv("vec_Data.csv")
vec_data.head()

   Unnamed: 0                                                  0
0           0    (0, 4878)\t0.05512294375646304\n  (0, 3755)\...
1           1    (0, 4929)\t0.09296936886403519\n  (0, 2137)\...
2           2    (0, 2483)\t0.1564641163037319\n  (0, 345)\t0...
3           3    (0, 477)\t0.09729321298362177\n  (0, 2867)\t...
4           4    (0, 4118)\t0.4616370448374549\n  (0, 3978)\t...

In [ ]:
# Preprocess and convert descriptions to vectors
vectorizer = TfidfVectorizer()

In [ ]:
# Define a function to clean HTML from descriptions
def clean_html(text):
  soup = BeautifulSoup(text, "html.parser")
  return soup.get_text(separator=" ")  # Remove HTML tags and keep text

In [ ]:
# Clean descriptions and create TF-IDF vectors
product_descriptions = desc["description"].apply(clean_html)
print(type(product_descriptions))

In [ ]:
new_df = pd.DataFrame(vectore.toarray(), columns = vec.get_feature_names_out())
new_df.head()

In [ ]:
new_idf = pd.DataFrame(vec.idf_, index = vec.get_feature_names_out(), columns = ['idf_weights'])
new_idf.to_csv("new_idf.csv")

In [ ]:
data_lines = matrix.splitlines()  # Split data into lines

vector_values = []
for line in data_lines:
  # Split the line on whitespace (assuming spaces separate elements)
  parts = line.split()
  # Extract the value (last element after splitting)
  value = float(parts[-1])
  vector_values.append(value)

In [ ]:
matrix = product_vectors.data
column_indices = product_vectors.indices
print(len(matrix), column_indices)

In [ ]:
desc[["vectors"]] = matrix
desc.head()

In [ ]:
delta = pd.DataFrame(product_vectors)
delta.to_csv('data_val_3.csv')

In [ ]:
# Get the vector of the liked product
liked_product_vector = product_vectors[desc["p_id"] == liked_product_id].toarray()[0]

In [ ]:
# Calculate cosine similarity and recommend similar products (similar to previous steps)
similarities = cosine_similarity(liked_product_vector.reshape(1, -1), product_vectors)
sorted_products = sorted(enumerate(similarities.squeeze()), key=lambda x: x[1], reverse=True)[1:]

In [ ]:
print(f"Recommendations for product {liked_product_id}:")
for i, score in sorted_products[:2]:
  product_id = list(desc["p_id"])[i]
  print(f"- Product {product_id} (score: {score:.2f})")

In [ ]:

def recommend_by_attributes(liked_product_description, product_data):
  """
  Recommends products based on keyword matching and attribute extraction.

  Args:
      liked_product_description (str): Description of the product the user liked.
      product_data (list): List of dictionaries where each dictionary represents a product
          with keys like "description", "category" (optional).

  Returns:
      list: List of product IDs for recommended products.
  """

  # Define keywords for different attributes (modify/expand as needed)
  color_keywords = {"black", "white", "red", "blue", "green", ...}
  pattern_keywords = {"ethnic", "floral", "striped", "plaid", ...}
  # ... (add keywords for other desired attributes)

  # Extract attributes from liked product description
  liked_product_attributes = {}
  for word in liked_product_description.lower().split():
    if word in color_keywords:
      liked_product_attributes["color"] = word
    elif word in pattern_keywords:
      liked_product_attributes["pattern"] = word
    # ... (add logic for other attributes)

  # Initialize empty list for recommendations
  recommendations = []

  # Loop through products and recommend based on matching keywords/attributes
  for product in product_data:
    product_description = product["description"].lower()
    matching_attributes = {}
    for attribute, value in liked_product_attributes.items():
      if value in product_description:
        matching_attributes[attribute] = value
    # You can adjust the logic for selecting recommendations here (e.g., number of matches)
    if len(matching_attributes) >= 1:  # Recommend if at least one attribute matches
      recommendations.append(product["p_id"])  # Replace "p_id" with your product ID key

  return recommendations

# Example usage (replace with your actual product data)
liked_product_description = "Black and white regular top with ethnic motifs..."
product_data = [
  {"description": "Red dress with floral pattern...", "category": "dresses"},
  # ... (add more product data)
]

recommended_product_ids = recommend_by_attributes(liked_product_description, product_data)

print(f"Recommended product IDs: {recommended_product_ids}")